<form action="/login" method="POST">
  Admin-email: <input type="text" name="username"><br>
  password: <input type="password" name="password"><br>
  username: <input type="text" name="username"><br>
  password: <input type="password" name="password"><br>
  username: <input type="text" name="username"><br>
  password: <input type="password" name="password"><br>
  username: <input type="text" name="username"><br>
  password: <input type="password" name="password"><br>
  <input type="submit" value="login!">
</form>
