<form action="/api" method="POST">
  Admin-email: <input type="text" name="ae"><br>
  Email: <input type="text" name="e"><br>
  Phone: <input type="text" name="p"><br>
  Last-name: <input type="text" name="ln"><br>
  First-name: <input type="text" name="fn"><br>
  City: <input type="text" name="c"><br>
  Country: <input type="text" name="co"><br>
  Postal-Code: <input type="text" name="pc"><br>
  Region: <input type="text" name="r"><br>
  Street-address-1: <input type="text" name="sa"><br>
  <input type="submit" value="api!">
</form>
